.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }

.medisync__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 40px;
    background: #f6f6f6;
    font-family: var(--font-family);
    
}

.medisync__navbar-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.medisync__navbar-left {
    display: flex;
    justify-content: flex-start;
    padding-right: 0px;
    align-items: center;
}

.medisync__navbar-left img {
    position: relative;
    width: auto;
    height: 28px;
    padding-right: 100px;
}

.medisync__navbar-links {
    display: flex;
    justify-content: flex;
}

.medisync__navbar-links p {
    color: #1B1A1A;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-left: 40px;
    cursor: pointer;
}

.medisync__navbar-menu_container p {
    width: 150px;
    color: #1B1A1A;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding: 0 20px;

    cursor: pointer;
}

.medisync__navbar-links p:hover,
.medisync__navbar-menu_container p:hover {
    color: #436CDF;
    font-weight: 700;
    transition: 2s;
    transform-style: flats;
}

.medisync__navbar-right button,
.medisync__navbar-menu_container-links-wallet button {
    padding: 5px 40px;
    margin-left: 10px;
    color: #fff;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    background: #436CDF;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.medisync__navbar-right button:hover,
.medisync__navbar-menu_container-links-wallet button:hover {
    background: #179d74;
    box-shadow: 0 0 2px #1B1A1A;
    transition: 1s;
}

.medisync__navbar-menu {
    position: relative;
    display: none;
}

.medisync__navbar-menu svg {
    cursor: pointer;
}

.medisync__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: #fff;
    padding: 10px;
    position: absolute;
    top: 100px;
    right: 0;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2)
}

.medisync__navbar-menu_container-links button {
    padding: 7px 15px;
    font-size: 15px;
}

.medisync__navbar-menu_container p {
    margin: 1rem 0;
}

.medisync__navbar-menu_container-links-wallet {
    display: none;
}

.active {
    color: #179d74;
    font-weight: 700;
}

.b-active {
    color: #436CDF;
    background: #cecece;
    box-shadow: 0 0 2px #1B1A1A;
}

@media screen and (max-width: 1050px) {
    .medisync__navbar-links {
        display: none;
    }

    .medisync__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .medisync__navbar {
        padding: 20px 10px;
    }

    .medisync__navbar-right {
        display: none;
    }

    .medisync__navbar-menu_container {
        top: 40px;
    }

    .medisync__navbar-menu_container-links-wallet {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .medisync__navbar-menu_container-links-wallet button {
        width: 150px;
        height: 50px;
        margin-bottom: 10px;
    }
}