.info-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.patient-details-section {
    margin-right: 20px;
}

.add-button {
    margin-top: 10px;
}