@media screen and (min-width: 300px) {
/* body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
} */

body{
  overflow-x: hidden;
  font-family: var(--font-family);
}

h2 {
  font-size: 17px;
}

p {
  font-size: 12px;
}

/* font-family: 'Poppins', sans-serif; */

.app_container {
  display: flex;
  width: 100%;
  height: auto;
}

.side_bar {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 15%;
  height: 90vh;
  padding: 30px 0 0 10px;
  border-right: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
}

.active {
  color: #179d74;
  font-weight: 700;
}

.b-active {
  color: #436CDF;
  background: #cecece;
  box-shadow: 0 0 2px #1B1A1A;
}

.logout_btn {
  margin-top: 50%;
}

.patient_image {
  width: 50px;
  margin-left: 35%;
}

.logo {
  margin-left: 50px;
  width: 45%;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.dashboard_link {  
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  padding-left: 15px;
  width: 95%;
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
}

.dashboard_link:hover {
  color: white;
  background-color: #436CDF;
  width: 85%;
  border-radius: 5px;
}

.dashboard_link img {
  width: 20px;
}

section {
  width: 80%;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 60px;
  width: 100%;
  background: #436CDF;
  color: white;
  border-bottom: 1px solid gray;
}

button {
  border: 1px solid  #436CDF;
  border-radius: 5px;
  padding: 10px;
  background-color:  #436CDF;
  color: white;
  font-size: 12px;
  margin-right: 20px;
}

span {
  display: flex;
  gap: 10px;
  align-items: center;
}



.main_container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 0;
  position: relative;
  /* overflow-y: scroll; */
}

.wallet_details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.wallet_details button {
  height: 50px;
  width: 150px;
  font-size: 15px;
}

h3 {
  font-size: 15px;
  font-weight: 500;
  color: #494949;
  margin-bottom: 0;
}

select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 180px;
  color: #686868;
  background: #f7f7f7;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.hamburger_icon {
  display: none;
}

.info_section {
  display: flex;
  align-items: center;
  gap: 100px;
  width: 100%;
  margin-bottom: 50px;
}

input {
  height: 30px !important;
  width: 200px;
  border-radius: 5px;
  outline: none;
  border: 1px solid lightgrey;
  padding: 0;
  color: #686868;
  background: #f7f7f7;
  font-weight: 500;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 5px;
}

.first_section,
.second_section {
  display: flex;
  gap: 20px;
  height: 300px;
  width: 100%;
  margin-top: 10px;
}

.copyright {
  font-size: 20px;
  margin: 50px 0 50px 50px;
  color: gray;
}

.notification_icon {
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 5px;
}

.patient-details_first-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.patient-details_first-section input {
  width: 150px;
}

select {
  width: 150px;
  border: 1px solid lightgrey;
  outline: none;
  font-size: 12px;
}

.disabilities_card,
.allergies_card,
.other-information_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 150px;
  width: 600px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  font-weight: 600;
  margin: 20px 50px 40px 0;
}

.new-entry_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.new-entry_section img {
  width: 20px;
}

.new-entry_section h3 {
  font-size: 13px;
  margin-top: 0;
}

.allergy {
  position: relative;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  padding: 30px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  width: 600px;
  box-shadow: 30px 30px 30px lightgray;
}

.modal_body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
  font-size: 14px;
}

.modal_body h4:last-of-type {
  margin: 10px 0 -20px 0;
}

.modal_body input,
.modal_body textarea {
  width: 60%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.modal_body textarea {
  height: 80px;
}

.calendar{
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
}

.modal_footer {
  display: flex;
  justify-content: flex-start;
}

.modal button {
  width: 70px;
  cursor: pointer;
}

.close_button {
  background-color: white;
  border: 1px solid #436CDF;
  color: #436CDF;
  font-weight: 600;
}

.disabilities_modal {
  position: absolute;
  top: 27%;
  z-index: 1;
}

.allergy_modal {
  position: absolute;
  top: 20%;
  z-index: 1;
}

.other-information_modal {
  position: absolute;
  top: 78%;
  z-index: 1;
}

.manage_access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 0.688);
}

.manage_access h5 {
  text-align: center;
  line-height: 1.5rem;
  font-size: 20px;

}

.manage_access form {
  width: 35%;
}

.manage_access form input {
  height: 50px;
  width: 100%;
}

.manage_access form p {
  font-size: 20px;
}

.manage_access button {
  cursor: pointer;
}

.blood-group_input,
.genotype_input,
.weight_input
 {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid grey;
  margin-top: -30px;
  padding-left: 10px;
}

.disabilities-details {
  display: flex;
  flex-direction: column;
  margin-left: -65%;
}


}