@media screen and (min-width: 300px) {
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app_container {
  display: flex;
  width: 100%;
}

.side_bar {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 20%;
  padding: 30px 0 0 10px;
  border-right: 2px solid lightgrey;
}

.patient_image {
  width: 70px;
  margin-left: 80px;
}

.logo {
  width: 90%;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

li {
  list-style: none;
}

a.active {
  color: white;
  padding: 10px;
  background-color: #460570;
  width: 95%;
  border-radius: 10px;
}

a {  
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  width: 95%;
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: white;
  background-color: #460570;
  width: 95%;
  border-radius: 10px;
}

section {
  width: 80%;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 100px;
  width: 100%;
  background: linear-gradient(0deg, #500680, #500680);
  color: white;
  border-bottom: 1px solid gray;
}

button {
  border: 1px solid  #460570;
  border-radius: 5px;
  padding: 10px;
  background-color:  #460570;
  color: white;
  font-size: 12px;
  margin-right: 20px;
}

span {
  display: flex;
  gap: 10px;
  align-items: center;
}

.main_container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 0;
  position: relative;
}

select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 180px;
  font-weight: 600;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}

.hamburger_icon {
  display: none;
}

.info_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

input {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  outline: none;
  border: 1px solid lightgrey;
  padding: 0 10px 0 20px;
}

.first_section,
.second_section {
  display: flex;
  gap: 20px;
  height: 300px;
  width: 100%;
  margin-top: 10px;
}

.copyright {
  font-size: 20px;
  margin: 50px 0 50px 50px;
  color: gray;
}

.notification_icon {
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 5px;
}

.patient-details_first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

select {
  width: 200px;
  border: 1px solid lightgrey;
  outline: none;
}

.disabilities_card,
.allergies_card,
.other-information_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 150px;
  width: 600px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  font-weight: 600;
  margin: 20px 50px 40px 0;
}

.new-entry_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.allergy {
  position: relative;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 800px;
  position: absolute;
  top: 20%;
  z-index: 1;
}

.modal_title {
  margin-bottom: 30px;
}

.modal_body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.modal_body h4:last-of-type {
  margin: 10px 0 -20px 0;
}

.modal_body input {
  width: 100%;
  padding: 25px;
}

.calendar{
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
}

.modal_footer {
  display: flex;
  justify-content: flex-end;
}

.modal button {
  width: 70px;
  cursor: pointer;
}

.close_button {
  background-color: white;
  border: 1px solid #460570;
  color: #460570;
  font-weight: 600;
}

}