.medisync__header {
    display: flex;
    background: #F1E6F8;
    padding: 4rem 6rem;
    font-family: var(--font-family);
}

.medisync__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 8rem;
}

.medisync__header-content h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.005em;
    color: #000000;
}

.medisync__header-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #656462;
    margin-top: 1.5rem;
    padding-right: 2rem;
}

.medisync__header-content__demo button {
    padding: 1.2rem 2rem;
    background: #460570;
    margin-top: 1.5rem;
    border-radius: 8px;

    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    border: none;
    outline: none;
}

.medisync__header-image img{
    width: 100%;
}

@media screen and (max-width: 1050px) {
    .medisync__header {
        flex-direction: column;
        padding: 4rem;
    }

    .medisync__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .medisync__header h1 {
        font-size: 40px;
        line-height: 45px;
    }

    .medisync__header-content__demo button {
        font-size: 18px;

    }
}

@media screen and (max-width: 490px) {
    .medisync__header h1 {
        font-size: 36px;
        line-height: 44px;
    }

    .medisync__header-content__demo button {
        font-size: 14px;

    }
}
